<h1>Register New User</h1>


<div *ngIf="alert" class="alert bg-success alert-dismissible fade show text-white" role="alert">
  <strong>New User Successfully</strong> Created!
  <button (click)="closeAlert()" type="button" class="close bg-success border-0 text-white  float-end" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="registerNew" (ngSubmit)="registerNewUser()">
    <div class="form-group">
      <label><strong>Name</strong></label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
    </div>
    <br>
  
    <div class="form-group">
        <label><strong>Email</strong></label>
        <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
      </div>
      <br>
      <div class="form-group">
        <label><strong>Password</strong></label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
      </div>
  <br>
   <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>